---
// @ts-ignore
import Section from "@/components/Section.astro";
// @ts-ignore
import { projects } from "@/cv.json";
---

<Section title="Proyectos">
  <ul>
    {
      projects.map(({ url, description, highlights, name }) => {
        return (
          <li>
            <a
              href={url}
              target="_blank"
              rel="noopener noreferrer"
              title={`Ver el proyecto ${name}`}
            >
              <article>
                <header>
                  <h3>{name}</h3>
                  <p>{description}</p>
                </header>
                <footer>
                  {highlights.map((highlight) => {
                    return <span>{highlight}</span>;
                  })}
                </footer>
              </article>
            </a>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-inline: -16px;
  }

  article {
    border-radius: 8px;
    border: 1px solid #f2f2f2;
    gap: 16px;
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    height: 100%;
  }

  article:hover {
    background-color: #eee;
    width: 102%;
  }

  article header {
    flex: 1;
  }

  article h3 {
    padding-bottom: 4px;
    color: #111;
  }

  article a {
    color: #111;
  }

  article a:hover {
    text-decoration: none;
  }

  article p {
    font-size: 0.75rem;
    line-height: 1.2rem;
    margin-bottom: 4px;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    font-size: 0.6rem;
  }

  footer span {
    border-radius: 6px;
    background: #ddd;
    color: #444;
    font-size: 0.6rem;
    font-weight: 500;
    padding: 0.2rem 0.6rem;
    display: inline-flex;
  }
</style>
